p.p1 {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}

#heading-2 {
    color: rgb(145, 100, 44);
}

li {

    background-color: rgb(190, 120, 85);
}

p.zero {
    background-color: rgb(238, 62, 128);
}

p.one {
    background-color: rgb(244, 90, 139);
}

p.fourteen {
    background-color: rgb(223, 24, 97);
}

p.thirteen {
    background-color: rgb(237, 6, 79);
}

p.twelve {
    background-color: hsl(0, 81%, 51%);
}

p.eleven {
    background-color: #66cdaa;
}