#tr-1 {
    background-color: #1C4A2F;
}

#tr-2 {
    background-color:#225939;
}

#tr-3 {
    background-color:#276842;
}

#tr-4 {
    background-color: #2D764B;
}

#tr-5 {
    background-color: #328554;
}

#tr-6 {
    background-color: #38945E;
}

#tr-7 {
    background-color: #3EA368;
}

#tr-8 {
    background-color: #43B171;
}

#tr-9 {
    background-color: #4EBC7B;
}

#tr-10 {
    background-color: #5CC186;
}