/* div {
    height: 250px;
    width: 250px;
    background-color: aqua;
} */

/* @media screen and (max-width:480px){
    div{
        background-color: green;
    }
} */

/* @media screen and (min-width: 481px) and (max-width: 781px){
    div{
        background-color: black;
    }
} */

/* @media screen and (348px < width < 748px){
    div{
        background-color: blue;
    }
} */

div{
    height: 40px;
    width: 100px;
    background-color: yellow;
    border-radius: 0.5em;
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    color: red;
    display: inline-block
}


ul{
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(51, 167, 167);
}

li{
    display: inline-block;
    padding: 4px;
    cursor: pointer;
}

li:hover{
    background-color: red;
    transform: translateY(2px);
}