/* div {
    height: 250px;
    width: 250px;
    background-color: aqua;
} */

/* @media screen and (max-width:480px){
    div{
        background-color: green;
    }
} */

/* @media screen and (min-width: 481px) and (max-width: 781px){
    div{
        background-color: black;
    }
} */

/* @media screen and (348px < width < 748px){
    div{
        background-color: blue;
    }
} */

.location {
    background-color: yellow;
    padding: 10px;
    border-radius: 0.5em;
    font-family: sans-serif;
    font-size: small;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: red;
    display: inline-block;
    margin-right: 5px;
}

.contact {
    display: inline-block;
    background-color: yellow;
    padding: 10px;
    border-radius: 0.5em;
    text-decoration: none;
    font-family: sans-serif;
    font-size: small;
    color: red;
    font-weight: bold;
}

.shopping{
    position: Fixed;
    top: 20px;
    right: 10px;
    color: red;
}

ul {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(51, 167, 167);
}

li {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
}

li:hover {
    background-color: red;
    transform: translateY(2px);
    border-radius: 0.2em;
}

img{
    height: 58px;
    position: fixed;
    left: calc(50% - 30px);
    top: 0;
}