<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javed Nihari Practice</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <img src="./Javed-Nihari.webp" alt="">
    </div>

    <ul>
        <li>Nihari</li>
        <li>Haleem</li>
        <li>Biryani</li>
        <li>Tandoor</li>
        <li>Soft Drink</li>
        <li>Tin Pack</li>
    </ul>

    <input type="button" value="Go to Top">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro laboriosam itaque est id, esse earum aut, ipsum
        dolorem doloribus, omnis vel rem impedit. Eveniet itaque explicabo assumenda voluptatem, quibusdam corrupti.
        Sit, rerum eligendi natus ipsum repudiandae voluptatem! Nobis enim tempore optio velit veritatis doloribus harum
        autem ipsa commodi odio omnis adipisci laboriosam placeat ipsam ex soluta eveniet, provident modi sequi.
        Tempora quasi quod dolorem! Delectus tenetur officiis amet dolorum sequi odio quae quibusdam harum iusto
        quisquam illum alias dolores placeat laborum facere, aut quas odit vitae earum doloremque ex magni!
        Ratione obcaecati aliquam molestias ex fuga quisquam, illum deleniti accusantium totam dignissimos facere
        repellendus quibusdam laboriosam id, maxime inventore ullam eum, culpa dicta provident earum officia nam vero.
        Neque, labore.
        Inventore facere quas ratione aliquid. Fugiat error delectus iusto, numquam atque cumque asperiores culpa. Hic,
        ipsum officia consequuntur eligendi sunt quae laudantium provident necessitatibus a cum dolorum nihil laboriosam
        laborum?
        Natus ut iste dicta esse, distinctio vero ducimus eligendi blanditiis. Cumque id repellat omnis aspernatur eaque
        minima laboriosam totam nesciunt? Enim, esse culpa possimus dolor error sed cumque eaque inventore.
        Voluptate distinctio veritatis deserunt ad laudantium vero accusamus magni inventore earum ipsa provident
        consequatur soluta reprehenderit consectetur accusantium quia voluptatibus facilis recusandae eius odit,
        repellat doloremque. Perspiciatis temporibus autem obcaecati.
        Veniam, corporis sapiente? Nam necessitatibus dolores deserunt, est explicabo, quas, vitae repellendus aut odit
        modi vero! Id quod animi fugiat eius excepturi? Magnam labore aperiam nobis asperiores esse, beatae ea.
        Voluptates nesciunt adipisci molestias, similique, corporis fuga magni quasi animi sapiente mollitia iste veniam
        error porro aspernatur totam iusto quo ipsa quis est dolores illum magnam repellendus. Architecto, reiciendis
        incidunt!
        Inventore, a in. Cupiditate, quibusdam pariatur tempore fuga voluptates sunt accusantium dicta molestias
        reprehenderit odio praesentium, exercitationem, aliquid unde tenetur quos ex porro optio quia laudantium ullam
        quae blanditiis iste!
        Possimus excepturi provident perferendis unde repellendus quis praesentium voluptatibus nostrum magni veritatis!
        Debitis magni quas ullam deleniti illum eveniet sed quasi, laborum iure earum iusto, fugiat explicabo, vitae
        doloribus veritatis.
        Illum veritatis recusandae, hic culpa reiciendis commodi dolor repellat ipsum vitae eius non nostrum ducimus
        deleniti alias laudantium molestias totam quidem incidunt? Beatae pariatur debitis ipsum voluptate
        exercitationem corrupti minima!
        Quos nemo quaerat cupiditate maxime vero enim, labore tempore perferendis fugit ratione nesciunt dicta aliquid
        consectetur neque sit, quod libero dolore voluptas autem voluptate provident veniam in dolor quae! Itaque.
        Eligendi voluptate et quisquam obcaecati! Nostrum, quibusdam eius magnam vitae sint dicta a eveniet enim itaque
        repellat accusamus ullam maiores sapiente. Exercitationem autem dolorem aut placeat. Quos quod quo dolores?
        Repellat aliquam debitis eligendi. Quibusdam, a deleniti deserunt cupiditate rerum aut recusandae velit ipsam
        fugiat alias quisquam! Dolorum repellat, voluptatum minima sunt, consectetur laborum rerum dolore quidem, cumque
        dolor quia!
        Porro veniam quidem asperiores neque commodi reiciendis non hic dolorem vel libero, ea qui quibusdam est ipsam
        perspiciatis. Nobis dolores qui est, natus necessitatibus hic commodi libero deserunt illum voluptatibus.
        Dolores veritatis at fugit? Deserunt facilis corporis corrupti aperiam voluptatem et, nobis culpa, iste itaque
        magni porro reprehenderit ipsam nostrum fugit quisquam odio sequi, dolores inventore vero tenetur voluptate!
        Laudantium!
        Numquam eos soluta impedit tenetur, consequatur aperiam repellat ad ipsa mollitia quae doloribus amet,
        doloremque saepe id voluptates ducimus quisquam modi, illo explicabo. Sint doloremque rem quibusdam quia
        suscipit modi.
        Qui odit fugiat, corporis animi placeat molestiae obcaecati dolorum suscipit, perferendis incidunt nobis neque
        officiis vitae quisquam! Odio maxime, ipsa quam laudantium quod harum aliquam eligendi, vero sapiente excepturi
        soluta!
        Doloremque expedita distinctio rerum repellendus. Dolor natus iste nesciunt, consectetur distinctio facere ipsum
        quaerat libero voluptatum nisi aliquid consequuntur laboriosam aperiam officia minima ea ducimus dolores
        exercitationem. Consequatur, consectetur eveniet.
        Facilis nesciunt, culpa commodi asperiores, nisi eveniet aliquid debitis ad voluptas ex id tempora dignissimos
        ratione, accusantium animi a? Dolor excepturi quod nostrum facilis obcaecati? Dicta ab sint atque consectetur!
        Nobis, assumenda eos. Consectetur quia perferendis repellat quae eius obcaecati nulla necessitatibus maiores,
        iste cumque vero et est minus dicta a doloremque quibusdam totam explicabo atque harum delectus facilis labore.
        Voluptates reiciendis sapiente ipsam! Odio consequuntur quia accusantium corporis tenetur vitae incidunt
        repudiandae fugit commodi architecto qui ad quae dicta doloremque vero optio dolores quasi eligendi nostrum,
        blanditiis inventore in.
        Vero, blanditiis! Consectetur hic rem quos, voluptas ea aut ipsa mollitia veritatis modi quia repudiandae
        necessitatibus laborum deleniti explicabo saepe a minima aliquam provident harum ad! Repudiandae ab odit enim.
        Quis velit excepturi autem facilis eum recusandae accusantium molestias quidem, nisi quibusdam quam inventore,
        consequuntur officiis minima suscipit molestiae. Vero deserunt nesciunt obcaecati aliquam. Ab nemo deleniti
        ullam ex repellendus.
        Iusto vel, accusantium deserunt, cum aspernatur quo sapiente doloribus voluptates eligendi, odit corrupti optio
        excepturi fugit reprehenderit aliquid rem sequi! Ipsum quod adipisci voluptatibus sint qui vitae temporibus! Et,
        adipisci!
        Nesciunt soluta pariatur commodi, error at aliquam eligendi reiciendis repudiandae voluptatum, qui
        necessitatibus totam culpa ipsum blanditiis dolore laudantium ex neque aspernatur odit sapiente voluptate eos
        amet. Sunt, animi cum!
        Suscipit facilis qui laudantium autem quaerat ab voluptatibus quibusdam beatae iure quae. Error in delectus
        distinctio eligendi nisi autem fugit, itaque, iusto officia earum eaque corrupti quaerat ullam omnis quidem.
        Quas corporis dolores reprehenderit illum atque vero deleniti fugit, perferendis eligendi ipsam ipsa minus, at
        commodi error voluptas inventore ex cum sint explicabo maxime non fugiat quae! Explicabo, cumque veniam?
        Qui distinctio beatae reprehenderit cupiditate fugit dolore aut ut magni deserunt dicta ratione, et numquam.
        Doloremque, unde autem omnis ea doloribus nam iure veritatis dolores animi beatae, dolorum modi rem.
        Architecto sint voluptatibus maiores, sit deleniti eius tenetur optio reprehenderit, quia magni molestiae
        reiciendis! Reiciendis sed perspiciatis quasi amet iusto, repellat ad rerum, inventore necessitatibus ipsam
        neque officia nisi esse?
        Minus voluptatem animi amet dignissimos quos temporibus deserunt vel ad unde ipsa omnis maiores magnam rerum
        repudiandae incidunt, nam totam. Quibusdam natus, consectetur perspiciatis in distinctio laudantium obcaecati
        repellat doloribus!
        Tempora laborum deserunt dolorem, dignissimos modi assumenda repudiandae, distinctio accusamus non nulla aliquid
        sed voluptatum magni quam odit? Possimus, eos earum consequuntur autem eaque facilis eligendi provident vitae
        nisi non?
        Aliquid tempora omnis beatae, nobis assumenda dolor illo corporis impedit laboriosam voluptates, quae aperiam.
        Consequatur, eum sint iure vitae nostrum dicta nulla illum quod. Necessitatibus recusandae dolores pariatur
        maiores modi?
        Cum saepe blanditiis error culpa, incidunt dolorem ex enim pariatur inventore quidem officia assumenda libero
        voluptate perspiciatis. Exercitationem atque ratione, esse enim deleniti ex delectus assumenda sapiente totam
        fugit consectetur?
        Quas provident perspiciatis officia libero aliquid iusto in suscipit fugiat? Culpa eos iste commodi blanditiis
        obcaecati dicta minima quasi in fugiat odio incidunt totam inventore consequuntur explicabo, repellat
        reprehenderit optio?
        Officia, quo aliquid minima possimus nobis adipisci delectus earum quod assumenda voluptatibus corporis qui
        quaerat hic reiciendis numquam voluptate velit laborum quae iure, esse eum. Delectus tenetur voluptate
        doloremque debitis?
        Harum officia autem nostrum est assumenda. Velit ipsa harum nobis aspernatur sapiente, fuga magnam aut nulla
        quaerat labore perspiciatis provident enim eligendi maiores quod assumenda, nisi animi. Harum, tenetur maiores.
        Totam officia porro sint enim nisi provident harum ratione cupiditate, deserunt delectus debitis quae laborum,
        reiciendis neque ipsa expedita maxime sapiente nesciunt iure? Facere eligendi hic asperiores dolores dolorum
        ipsam.
        Sunt quos assumenda eaque cum, dolorem corrupti nostrum eos culpa iusto exercitationem ipsa dolore, vel
        explicabo, minima minus deleniti omnis itaque architecto sed aut error libero soluta tempora. In, ipsa.
        Dolorem consequuntur fuga deserunt magni impedit maiores modi, quidem ea, omnis tempora, voluptas adipisci
        repudiandae eius assumenda. Sed aliquam, harum illum, accusamus laudantium tenetur ipsum, nihil sapiente
        consequatur quia necessitatibus?
        Suscipit corporis itaque optio incidunt! Possimus commodi atque sit magnam, officiis consequuntur repellat
        dolorem est explicabo quos. Ducimus debitis inventore maiores. Laboriosam reprehenderit laudantium perspiciatis,
        iste voluptatum sint numquam vitae!
        Totam fugit ducimus enim quod dolor nisi sequi placeat tenetur maxime alias vitae, fugiat necessitatibus non,
        laboriosam veniam illo debitis doloremque culpa provident veritatis! Corrupti doloribus dignissimos distinctio
        qui libero?
        Esse quam ex voluptatum vel laboriosam libero excepturi quod maiores quisquam exercitationem cumque tempore
        vitae cum perspiciatis iure deleniti, expedita similique at odio? Incidunt nulla iusto doloremque sequi omnis
        sapiente.
        Iure, deleniti animi nam pariatur dolore numquam dolor aliquam hic vero molestiae nemo delectus doloremque
        perferendis sit odio ad magnam non quod? Mollitia dolorum commodi dolor, nam tempora temporibus quas.
        Reprehenderit a alias adipisci. Nulla totam adipisci minima debitis laudantium officiis deserunt soluta
        veritatis rem eius sint, quas ex voluptates ipsam, modi, perferendis deleniti suscipit harum ullam velit
        doloremque voluptas!
        Aperiam sapiente molestias cum et officiis totam tempora. Ratione eum doloribus amet reiciendis ipsam nisi esse
        ad praesentium aut similique vero, tempore laudantium repudiandae dicta blanditiis doloremque eligendi eaque.
        Earum.
        Aliquam expedita doloribus, quas quaerat odio quisquam. Ipsam optio accusamus debitis. Deserunt perspiciatis
        quidem expedita ducimus rerum porro dolorem doloribus! Adipisci quia, omnis assumenda architecto deserunt
        consectetur consequatur quo rerum!
        Modi libero soluta sapiente, sint cumque expedita blanditiis laudantium dolorem labore maxime sequi ullam
        corrupti magnam, reiciendis eveniet ratione aliquam ex aspernatur officiis ducimus? Velit aperiam dolores
        incidunt rerum quas.
        Libero voluptatum neque natus accusantium non quis doloremque eveniet exercitationem modi temporibus suscipit,
        magni veniam quisquam repudiandae aspernatur vitae culpa quo voluptates, sunt ab perferendis blanditiis esse
        nulla. Distinctio, aliquam.
        Quod, tenetur aspernatur voluptatem expedita maxime nobis, esse recusandae eligendi voluptates hic tempore culpa
        explicabo quam suscipit! Tenetur suscipit tempore obcaecati! Nesciunt perspiciatis ratione, natus ea qui libero
        molestiae tenetur.
        Sequi voluptatibus recusandae impedit aut ducimus minus illo, sapiente suscipit maiores ad asperiores molestiae
        neque debitis deleniti aspernatur harum tempora aliquid modi iure vel quaerat voluptatem cupiditate velit.
        Nobis, maxime!
        Mollitia excepturi ullam rem, qui quia esse ea voluptatem vel veniam explicabo neque delectus porro eligendi
        laboriosam quae pariatur culpa labore molestiae sequi reiciendis? Inventore tempora quam neque nisi praesentium?
        Excepturi cum neque harum fugiat aliquid unde, sunt voluptas nihil quisquam deleniti quod dolores cupiditate
        debitis voluptates, consectetur blanditiis eum, numquam accusantium placeat minus doloribus corrupti architecto?
        Nam, delectus repudiandae.
        Eum accusamus laborum culpa illo, excepturi consectetur quia illum impedit voluptatem quasi pariatur quos facere
        cum itaque voluptatum incidunt libero neque. Expedita nam eveniet aliquid at, earum laudantium quas
        voluptatibus.
        Voluptas dignissimos, error libero rem ea quo praesentium ratione. Consequatur sint, hic culpa enim doloremque,
        asperiores odio eos veniam exercitationem at neque eligendi non quam, nihil id ab. Sed, quas!
        Pariatur atque commodi reprehenderit quasi nihil eveniet excepturi cupiditate totam eius, aliquid neque
        praesentium eligendi ea? Libero corporis sequi esse in, quidem pariatur perferendis, animi quaerat accusamus
        dolorum illo consequatur.
        Atque voluptatibus adipisci deleniti quaerat! Illum id in obcaecati dicta nihil iusto omnis? Eius, saepe at ipsa
        repellendus voluptatibus voluptatum nam quas vitae voluptates, minima praesentium quia sit accusantium nisi?
        Mollitia a ipsam voluptate omnis ut incidunt dolores, cumque nisi maxime itaque quasi ea. Necessitatibus, ad,
        provident a consequuntur praesentium harum sit laboriosam, temporibus unde quas quia voluptatem? Dicta,
        voluptatem.
        Pariatur optio rem doloribus nisi amet corporis fugiat minus tempora quae numquam voluptate, distinctio quisquam
        itaque, magnam unde eum odit officiis? Ipsum, dolore. Voluptatum voluptatem doloremque distinctio excepturi
        maiores laudantium.</p>

</body>

</html>