<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Layout Practice</title>
    <link rel="stylesheet" href="style.css">
</head>

<!-- <div class="box-1"></div>
<div class="box-2"></div>
<div class="box-3"></div> -->

    <div>1</div>
    <div class="parent-sticky">
        
        <!-- <div class="child"></div> -->
    </div>
    <div>3</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione et iusto quo, reprehenderit beatae iure. Nobis neque
    eaque cum. Vero iste iure corporis molestiae iusto velit cum officia reprehenderit ducimus.
    Maxime placeat facere necessitatibus dolorum similique vero error consectetur laboriosam amet, tempora distinctio
    quia laudantium reprehenderit mollitia accusamus? Impedit voluptatum sunt est veniam. Nesciunt temporibus
    asperiores, excepturi quisquam minus ullam?
    Officia error dicta impedit placeat repellendus provident mollitia sunt cumque, nulla alias ea nisi ratione dolorem
    accusantium iure ipsum dolor ducimus blanditiis harum. Voluptas asperiores voluptatibus, nostrum dolor error fugit.
    Impedit quo optio laudantium libero sit. Repudiandae, facilis aperiam. Ullam facere omnis quisquam modi minus
    commodi neque a. Doloribus deleniti eligendi asperiores explicabo assumenda vitae nam minus voluptate laudantium
    accusantium.
    Doloribus molestias itaque, soluta minima adipisci natus corrupti, quisquam expedita, libero quo culpa optio! Alias
    excepturi, magnam, rerum quidem praesentium veritatis veniam atque doloribus placeat qui officia quaerat
    exercitationem saepe!
    Modi doloribus adipisci voluptate ea, et placeat quasi iste alias. Cupiditate repellendus, ipsam nisi soluta ipsa
    necessitatibus dolorum nemo quam mollitia a dolorem cum recusandae fugiat fuga enim velit hic.
    Tempore debitis id quo dolor eaque enim recusandae nam deserunt nulla possimus cum consectetur perferendis, quos vel
    corporis modi ad libero et sint? Optio facere quis, voluptatibus quisquam modi eos.
    Nesciunt fugiat architecto distinctio, nostrum consequatur illo rerum cupiditate tempora suscipit corrupti maxime in
    harum, quibusdam illum enim eligendi culpa earum voluptatum impedit. Soluta distinctio harum neque consectetur ab
    et.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, sunt vitae voluptatem eligendi impedit molestias
    aspernatur culpa? Blanditiis, doloribus? Ullam quod porro aut commodi accusamus natus explicabo voluptate nostrum
    illum.
    Doloremque tempore repellat neque expedita iste molestiae dolore molestias eaque tenetur ipsam quas rerum magni
    deserunt labore, inventore, consectetur porro? Aliquid in accusamus modi, voluptatum consequatur quisquam quo
    accusantium! Omnis.
    Praesentium, maiores non. Tenetur totam cum est veritatis minima nulla molestias soluta tempore perferendis delectus
    quam earum, sapiente commodi cumque temporibus expedita provident dolorum incidunt repudiandae exercitationem
    consequatur voluptatem quisquam?
    Repudiandae, voluptate ut labore voluptatem in perferendis eius culpa mollitia soluta aspernatur reprehenderit fuga
    molestias obcaecati libero corrupti est quidem officia. Excepturi saepe reprehenderit non ullam perferendis, totam
    est eveniet.
    Tenetur, omnis consequuntur incidunt mollitia nam odio libero sunt porro? Quasi magni corrupti blanditiis dolorem
    sit. Nostrum et perspiciatis eveniet ipsum ad enim repudiandae sint consequuntur. Illum pariatur deleniti illo!
    Velit ea praesentium id minus esse quia voluptatibus repellat recusandae voluptas perspiciatis hic facilis, tenetur,
    itaque eveniet. Possimus alias, numquam optio cupiditate dolorem sed officiis, molestiae iure doloribus vel quasi!
    Nihil neque repellat debitis quibusdam deserunt illo repudiandae vel rem reiciendis laborum, assumenda cum at? Nihil
    vero, alias sapiente sunt quidem deserunt exercitationem illo cumque saepe quia ut, tenetur nostrum.
    Culpa, sint quaerat officiis voluptatum perferendis officia perspiciatis, earum error nam nostrum expedita aliquid
    repellendus eius, iusto incidunt laudantium iste ducimus cupiditate ipsum nobis. Deserunt optio sint repellat.
    Velit, voluptate!
    Doloribus qui voluptatem unde alias. Voluptate sapiente voluptates sunt magnam debitis, dignissimos enim repudiandae
    voluptatibus amet eius recusandae asperiores autem ducimus iste tenetur rem veritatis, explicabo accusantium ad
    officia. Possimus?
    Quasi nam veniam unde perspiciatis quisquam ad quo distinctio animi voluptatum sunt, repellendus accusantium alias
    enim. Maxime consectetur saepe natus sapiente iure. Harum illum at nihil, inventore dolor necessitatibus veniam.
    Fugiat doloremque odio, accusantium earum ullam fuga perferendis laudantium obcaecati et, dignissimos assumenda.
    Sint pariatur explicabo, beatae distinctio odio nulla atque ipsum eveniet voluptas, sequi quis. Voluptatum
    consequatur minus assumenda.
    Dolorem harum, autem sed nihil, quisquam doloremque dolores voluptatibus ad, in possimus iste incidunt corrupti!
    Tenetur, mollitia dicta cum molestias accusamus ipsam natus iste pariatur incidunt libero error. Dolorum, accusamus.
    Magni, aperiam in maxime vel dignissimos deleniti amet ut voluptatum quidem eaque blanditiis sint consequuntur
    recusandae illo. Neque quo eius veniam impedit, alias, totam earum ullam vel est, minus recusandae.
    Magni laboriosam vitae est optio commodi rem adipisci cupiditate nemo aliquam inventore iure consequuntur corrupti
    quae saepe, sit repudiandae quis. Et ex debitis laboriosam quos iste delectus voluptate illo autem.
    Ullam quaerat, voluptatibus possimus unde tempora tempore praesentium porro voluptates nobis assumenda sed
    reiciendis harum asperiores eaque ut? Sit magni vel debitis doloremque ullam quam quisquam porro voluptate ipsum
    vitae?
    Eligendi magnam rem commodi tenetur. Nam similique amet animi. Odio quae perspiciatis culpa quisquam suscipit
    officia, laborum fugiat, veniam nesciunt voluptas pariatur neque nam cum quas vel, accusamus delectus et.
    Voluptatum sint sequi natus officiis, deserunt laboriosam aperiam eius maiores voluptatibus sed labore ad at odio
    mollitia fugit tempore? Quo inventore reiciendis at ut repudiandae voluptates voluptatibus illum sit placeat!
    Impedit, repellendus molestiae. Ratione sed voluptate ab corrupti quos tempora modi delectus et consequuntur omnis
    alias laudantium itaque neque, praesentium obcaecati doloribus sunt nesciunt perspiciatis natus quaerat aliquid
    commodi vel!
    Aperiam a repellat omnis accusamus, nihil, quaerat temporibus quos, unde culpa veniam repudiandae. Non ex corporis
    quidem dolorum aliquam animi repellat temporibus, repellendus autem commodi vitae laborum perspiciatis numquam quia.
    Iure molestiae accusantium, fugit placeat odit, quae velit numquam a natus veniam aperiam rerum dolor explicabo rem
    accusamus earum aliquid saepe dolore perspiciatis eos inventore fugiat? Molestiae cumque vitae perspiciatis.
    Eligendi non laboriosam alias culpa possimus inventore nesciunt autem magni, amet quidem quasi perspiciatis?
    Explicabo, consequatur! Aliquid rerum neque aut, voluptatem enim fuga quaerat, tempora dicta incidunt alias,
    laudantium accusantium!
    Quidem deleniti dolorem quae, amet deserunt officiis recusandae vero inventore iste facilis, nam, enim accusamus
    similique. Reiciendis exercitationem neque ut cum nihil quaerat impedit ratione? Asperiores, velit voluptatum!
    Nostrum, recusandae.
    Vel, molestias, distinctio eaque tempora fugit, dolores nobis autem reprehenderit iste commodi architecto. Iusto
    quaerat molestias laboriosam veritatis quibusdam, facilis libero, reprehenderit eum, voluptatum necessitatibus ex
    blanditiis quam dolore a.
    Nulla nam asperiores optio dolor sed nostrum id quod enim, provident veniam fuga nemo reiciendis doloremque
    laboriosam odit porro odio molestias dolore impedit quos similique commodi libero hic qui. Libero.
    Ipsum, accusantium, dolor, culpa quo delectus vel esse similique beatae consequatur suscipit voluptas incidunt eaque
    sunt! Sapiente, alias. Optio at consequuntur illum unde. Dolore eveniet corporis id aliquid, soluta ipsa!
    Voluptatibus numquam sit nihil, voluptates alias atque ea a consectetur corrupti soluta tenetur iusto ipsum quaerat
    nulla ex ullam praesentium quod suscipit? Assumenda quisquam placeat aspernatur odit voluptatum eligendi alias.
    Ratione esse aspernatur, nam, nemo exercitationem perferendis consequuntur ex tempore, ipsa doloremque beatae
    doloribus sit aperiam at vero totam dolorum sapiente nesciunt in quisquam! Eum quia eaque laborum quam ab.
    Tenetur maiores nostrum qui minima, debitis provident repudiandae corporis voluptatum aut saepe eaque odit quidem.
    Vitae aperiam perspiciatis magni quos harum voluptate libero pariatur similique laboriosam animi, qui eius. Neque!
    Ipsam sed placeat at a recusandae, blanditiis fugiat veritatis et aut harum dolores ut soluta nesciunt consequuntur
    magni consequatur tempora mollitia praesentium quod esse molestiae? Repellat optio consequuntur voluptates ullam.
    Velit commodi in dolor distinctio laboriosam porro. Doloribus ipsam quaerat sint quo, id quibusdam blanditiis amet,
    provident, eaque ipsa quis inventore eos? Officia explicabo, odio alias recusandae saepe earum beatae!
    Laudantium placeat voluptatibus, architecto nam non corrupti ipsa deleniti repudiandae aut rem fugit soluta eveniet
    libero optio molestiae debitis eaque consequatur! Ut sed quae possimus dignissimos delectus voluptatem, similique
    ex.
    Hic molestiae architecto eos eveniet quia fuga repellendus porro exercitationem ea, maxime nulla iure laudantium
    sint quam consectetur sapiente veritatis quidem modi accusantium voluptas distinctio animi! Eaque asperiores
    repellendus quasi.
    Aliquid perferendis optio excepturi asperiores iure voluptatibus beatae aut laboriosam deserunt doloremque harum
    amet autem nihil fuga, at ratione numquam et officia molestias sequi aspernatur suscipit. Excepturi modi culpa
    rerum.
    Dolorem eaque voluptatum suscipit quisquam expedita placeat explicabo quae ullam dolore, blanditiis deleniti fugiat.
    Nulla porro aliquam placeat ad, ullam blanditiis ex eius nisi optio hic fugiat explicabo error nam.
    Odit, expedita eum. Ad dolorem nam perspiciatis maxime sint repellat iste itaque excepturi tempore quidem enim
    exercitationem quod consectetur suscipit unde laborum reprehenderit fugiat aliquid sequi nobis natus, fugit odio.
    Sunt quaerat velit cupiditate inventore deserunt rerum laboriosam provident, quia voluptate aperiam eligendi
    doloremque veniam debitis, facere excepturi consequatur repellat autem nesciunt saepe asperiores magni doloribus
    mollitia. Numquam, quidem nemo!
    Fugiat temporibus, corporis officia quaerat iste totam repellendus suscipit inventore neque labore placeat numquam
    ratione dolor veniam ipsam illo veritatis amet sed reiciendis. Quam, odio iure. Corrupti corporis inventore error?
    Facilis aperiam mollitia perferendis omnis unde molestiae nostrum, porro, dolorum animi nulla beatae magni dolor
    quisquam sed corrupti quod enim nam accusantium consequuntur cum nobis. Eaque rerum doloribus inventore nobis!
    Eius, ipsum corrupti, commodi quidem enim porro excepturi dicta soluta, culpa nemo dolore velit. Atque ipsa vel
    modi, porro vero nisi officia quos eaque alias accusamus enim animi, ipsum obcaecati?
    Aliquam aspernatur quod in ipsa adipisci excepturi sed, veniam vitae inventore, libero magnam. Ipsum, doloribus
    ipsam? Quod dignissimos unde quos, expedita doloremque reprehenderit voluptates autem! Minima veritatis ab a
    accusantium!
    Aut laboriosam mollitia amet recusandae incidunt perferendis inventore ad molestias, repellat illo quibusdam ut
    dicta fugit aliquid fugiat voluptatem. Repudiandae recusandae, facere quasi ea ut aut. Quisquam ducimus veniam
    explicabo.
    Repellat beatae odit corrupti cumque quis cum vel nihil deserunt voluptas! Porro rerum nesciunt cum et magnam,
    quibusdam temporibus. Aut eaque incidunt vitae. Pariatur, distinctio adipisci. Eos, temporibus. Ea, fugiat.
    Asperiores voluptate unde explicabo praesentium odio, exercitationem nulla? Tempora nihil cupiditate non in at
    asperiores. Accusantium fugiat nesciunt laudantium fugit eveniet, nulla numquam itaque nemo harum quidem neque ex
    suscipit?
    Dolorum dignissimos molestias aspernatur sapiente ducimus nisi officiis autem doloremque corrupti recusandae, veniam
    voluptatibus sit fuga, minus modi facere ad, aperiam sint! Suscipit nisi iusto iste? Obcaecati dolor cupiditate
    vero!
    Temporibus excepturi recusandae debitis nostrum quis esse ipsam at, aperiam quaerat quia nemo corporis odio
    blanditiis numquam laborum odit consequatur animi neque fugiat asperiores mollitia rerum. Exercitationem laborum ut
    culpa?
    Quos, numquam accusantium! Voluptate nemo, accusamus, vitae animi neque ab quaerat ad qui distinctio quae laudantium
    alias blanditiis ex minus laborum molestias porro provident, voluptates ea! Officiis minima iste laudantium.
    Ex, architecto reiciendis. Laudantium ratione aspernatur labore incidunt reprehenderit molestias a animi iste quam,
    ad, assumenda necessitatibus esse iusto? Minus maxime, asperiores voluptates voluptatum quisquam fuga mollitia culpa
    recusandae eum!
    Velit veritatis ut voluptates error voluptatum, quibusdam facere iste molestiae amet explicabo harum quo dicta ipsum
    illum nostrum sapiente quod deleniti. Dolore earum architecto odio omnis molestias necessitatibus quia. Beatae.
    Porro numquam tenetur animi est maxime, eveniet commodi quis ratione modi obcaecati qui soluta consequuntur, itaque
    deleniti deserunt hic delectus nisi nam facilis nesciunt aliquid, omnis voluptate earum distinctio! Odio.
    Molestiae placeat ipsam unde, ullam magnam repellendus nam quaerat odio sed dolores optio itaque quae non
    dignissimos autem possimus voluptatum deleniti aperiam! Tempora sapiente ipsa est. Officiis numquam incidunt
    dolorem.</p>

<body>

</body>

</html>