div.box {
    height: 250px;
    width: 250px;
    background-color: green;
    border: 1px solid red;
    font-size: 40px;
}

div.parent {
    display: flex;
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* height: 400px; */
    /* align-items: center; */
    flex-wrap: wrap;
    background-color: gray;
    /* column-gap: 10px; */
}

.box-2 {
    /* align-self: flex-end; */
    flex-grow: 2;
    /* flex-shrink: 3; */
}